
	<div class = "wrapper">


<!--page__start-->
		<div class = "page">
			<div class = "container">
				<div class = "contacts">
					<div class ="contacts__void"></div>
					<p class = "contacts__big-title">Контакты</p>
					<p class="contacts__big-title">Мы в социальных сетях</p>
						<ul class="contacts__list">
							<li><a href="" class="menu__link_contacts">VKONTAKTE</a></li>
							<li><a href="" class="menu__link_contacts">INSTAGRAM</a></li>
							<li><a href="" class="menu__link_contacts">YOUTUBE</a></li>
							<li><a href="" class="menu__link_contacts">FACEBOOK</a></li>
							<li><a href="" class="menu__link_contacts">TWITTER</a></li>
						</ul>
				</div>
			</div>
		</div>
<!--page__end-->

	</div>
