<div class = "page">

 <form action="/createAdvertisement" method="POST">
  <h2>Создание нового объявления</h2>

  <div class="input-field">
    <input placeholder="Название" type="text" name="title"> 
</div>

<div class="input-field">
    <input placeholder="Тэг" type="text" name="tags">
</div>

<div class="input-field">
    <input placeholder="Текст" type="text" name="atext">
</div>

  <button type="submit" class="btn">Создаю</button>
</form>

</div>


