<form action="/login" method="POST">
  <h2>Войти</h2>

<div class="input-field">
    <input placeholder="Логин" type="text" name="username">
</div>

<div class="input-field">
    <input placeholder="Пароль" type="text" name="password">
</div>

  <button type="submit" class="btn">Вход</button>
</form>

<form action="/registration_page" method="GET">
  <button type="submit" class="btn">Зарегистрироваться</button>
</form>