<div class = "page">

 <h1>Функционал менеджера</h1>

<form action="/deleteAlienAdvertisement" method="POST">
  <h4>Удаление объявления</h4>
  <input placeholder="Название" type="text" name="title">
  <button type="submit" class="btn">Удаление</button>
</form>

</div>


