<form action="/register" method="POST">
  <h2>Регистрация</h2>

  <div class="input-field">
    <input placeholder="Логин" type="text" name="login"> 
</div>

<div class="input-field">
    <input placeholder="Почта" type="text" name="email">
</div>

<div class="input-field">
    <input placeholder="Пароль" type="text" name="password">
</div>

  <button type="submit" class="btn">Поехали</button>
</form>

<form action="/login_page" method="GET">
  <button type="submit" class="btn">Уже есть аккаунт</button>
</form>