<div class = "page">

<form action="/update_profile_page" method="POST">
  <h2>Изменение профиля</h2>

  <div class="input-field">
    <input placeholder="Имя" type="text" name="nickname"> 
</div>

<div class="input-field">
    <input placeholder="Профессия" type="text" name="profession">
</div>

  <button type="submit" class="btn">Изменить</button>
</form>


</div>

