<div class = "page">

 <form action="/updateAdvertisement" method="POST">
  <h2>Изменение своего объявления</h2>

  <div class="input-field">
    <input placeholder="Название изменяемого" type="text" name="title"> 
</div>

<div class="input-field">
    <input placeholder="Новое название" type="text" name="new_title"> 
</div>

<div class="input-field">
    <input placeholder="Тэг" type="text" name="tags">
</div>

<div class="input-field">
    <input placeholder="Текст" type="text" name="atext">
</div>

  <button type="submit" class="btn">Изменяю</button>
</form>

<form action="/deleteAdvertisement" method="POST">
<h2>Удаление своего объявления</h2>
<div class="input-field">
    <input placeholder="Название" type="text" name="title"> 
      <button type="submit" class="btn">Смерть</button>
</div>
</form>

</form>

</div>


