<div class = "page">

 <form action="/updateOwnAccount" method="POST">
  <h2>Регистрация</h2>

  <div class="input-field">
    <input placeholder="Логин" type="text" name="login"> 
</div>

<div class="input-field">
    <input placeholder="Почта" type="text" name="email">
</div>

<div class="input-field">
    <input placeholder="Пароль" type="text" name="password">
</div>

  <button type="submit" class="btn">Изменяю</button>
</form>

</div>


