		<div class = "footer">
				<div class="container">
					<div class = "footer__body"><ul class="footer__list">
						<li><a href="/about_us" class="menu__link">О нас</a></li>
						<li><a href="/contacts" class="menu__link">Контакты</a></li>
						<li><a href="/logout" class="menu__link">Выход</a></li>
					</ul></div>
				</div>
		</div>